{% extends 'base.html' %}

{% load i18n %}
{% block content %}
    <a href="/">
        <button class="btn btn-primary">{% trans "Назад" %}</button>
    </a>
    <div class="card-header text-center">
        <h3> {% trans "БД" %}</h3>
    </div>

        <div class="works-container">
            <a href="https://docs.google.com/document/d/1YmEImi_ctH68IJHKQuSiiSDiWNiOdcc_Y5v0AXMq8YM/edit?usp=sharing" class="works-item">
                <h5>{% trans "ЛР"%}1</h5>
            </a>

            

        </div>

    </div>
{% endblock %}