<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🐸Суворов Роман🐸</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    </head>
<body>
    <div>
        1) был создан проект с использованием django-admin <br>
        2) далее был настроен Django в файлах settings и связан с приложением Django <br>
        3) проект был связан с репозиторием GitHub для более удобного коммита  <br>
        4) далее был создан файл vercel.json для связи сайта с Vercel
        5) GitHub был подключен к Vercel и практически автоматически задеплоен
    </div>
</body>
</html>


