{% extends 'base.html' %}

{% block content %}
    <a href="/">
        <button class="btn btn-primary">Назад</button>
    </a>
    <div class="card-header text-center">
        <h3> КП </h3>
    </div>

        <div class="works-container">
            <a href="https://github.com/webbsalad/suvorov" class="works-item">
                <h5>ЛР1</h5>
            </a>

            <a href="https://github.com/webbsalad/suvorov" class="works-item">
                <h5>ЛР2</h5>
            </a>


    </div>
{% endblock %}