{% extends 'base.html' %}

{% load i18n %}
{% block content %}
    <a href="/">
        <button class="btn btn-primary">{% trans "Назад" %}</button>
    </a>
    <div class="card-header text-center">
        <h3> {% trans "ПРОГ4" %} </h3>
    </div>

        <div class="works-container">
            <a href="https://replit.com/@tot-kogho-siest/Progh4-lab1" class="works-item">
                <h5>{% trans "ЛР1" %}</h5>
            </a>

            <a href="https://replit.com/@tot-kogho-siest/Progh4-lab1" class="works-item">
                <h5>{% trans "ЛР1" %}</h5>
            </a>


            <a href="https://replit.com/@tot-kogho-siest/Progh4-lab1" class="works-item">
                <h5>{% trans "ЛР1" %}</h5>
            </a>

            <a href="https://replit.com/@tot-kogho-siest/Progh4-lab1" class="works-item">
                <h5>{% trans "ЛР1" %}</h5>
            </a>
        </div>


    </div>

{% endblock %}