{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card box-shadow m-2 from-w">
                <div class="card-header text-center">
                    <div class="works-container">
                        <a href="https://replit.com/@tot-kogho-siest/Progh4-lab1" class="works-item">
                            <h5>ЛР 1</h5>
                        </a>
                    </div>

                    <div class="works-container">
                        <a href="https://replit.com/@tot-kogho-siest/Progh4-lab1" class="works-item">
                            <h5>ЛР 1</h5>
                        </a>
                    </div>

                    <div class="works-container">
                        <a href="https://replit.com/@tot-kogho-siest/Progh4-lab1" class="works-item">
                            <h5>ЛР 1</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}