<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        1) был создан проект с использованием django-admin <br>
        2) далее был настроен джанго в файлах settings и связан с приложением django <br>
        3) проект был связан с репозиторием github для более удобного комита  <br>
        4) далее был создан файл vercel.json для связи сайта с vercel
        5) github был подключен к vercel и пракетически автоматически задеплоен
    </div>

</body>
</html>